@charset "UTF-8";

/************************Cores do app/site*******************
- primária: #060056 --- rgba(6, 0, 86)
- secundária: #0000cc ---
- terciária: #3366ff --- 
- cinza claro: #cccccc ---
*/

.border-view {
    border: red 1px solid;
}



/** {
    color: black;
    font-size: 1em;
}*/

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    /*background: url(../images/mockups-gerais/mockup4-2.png);*/
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica, Arial, sans-serif;
}



/************************Header*********************/
nav.navbar-transparent {
    background: rgba(6, 0, 86, 0.95);
    padding: 20px 0px;
}

/*Logo*/
header h1 {
    color: white;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    margin: 5px;
}

/*Itens*/
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 20px;
    border-bottom: transparent 2px solid;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 20px;
    border-bottom: white 2px solid;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 0.4);
}



/************************splash-screen*********************/
#splash-screen {
    background-color: #f0f0f0;
    padding: 120px 0 0 0;
}

/*Textos*/
#splash-screen h2 {
    color: #060056;
    font-size: 4em;
    margin: 50px 0;
}

/*Botoes*/
.btn-custom {
    border-radius: 500px;
    padding: 10px 25px;
    margin: 10px;
}

.btn-azul {
    background-color: #0000cc;
    color: white;
}

.btn-azul:hover {
    background-color: #060056;
    color: white;
}

.btn-branco {
    color: white;
    border: white 2px solid;
}

.btn-branco:hover {
    background-color: white;
    color: #060056;
}



/************************Renda fixa simulação*********************/
#simulacao-renda-fixa {
    background-color: white;
    padding: 80px 0px;
}

/*Textos*/
#simulacao-renda-fixa h2 {
    color: #060056;
    font-size: 4em;
    margin: 50px 0;
}

#simulacao-renda-fixa h3 {
    color: #060056;
    font-size: 1.3em;
    margin: 50px 0;
    letter-spacing: 0.1em;
}



/************************Câmbio simulação*********************/
#cambio-simulacao {
    background-color: #060056;
    padding: 40px 0px;
}

/*Textos*/
#cambio-simulacao h2 {
    color: white;
    font-size: 4em;
    margin: 50px 0;
}

#cambio-simulacao h3 {
    color: white;
    font-size: 1.3em;
    margin: 50px 0;
    letter-spacing: 0.1em;
}



/************************comparacao-renda-fixa*********************/
#comparacao-renda-fixa {
    background-color: white;
    padding: 40px 0px;
}

/*Textos*/
#comparacao-renda-fixa h2 {
    color: #060056;
    font-size: 4em;
    margin: 50px 0;
}

#comparacao-renda-fixa h3 {
    color: #060056;
    font-size: 1.3em;
    margin: 50px 0;
    letter-spacing: 0.1em;
}



/************************Youtube video*********************/
#youtube-video {
    background-color: #f0f0f0;
    padding: 80px 0px;
}

/*Textos*/
#youtube-video h2 {
    color: #060056;
    font-size: 4em;
}

#youtube-video h3 {
    color: #060056;
    font-size: 1.3em;
    margin: 50px 0;
    letter-spacing: 0.1em;
}



/************************Footer*********************/
footer {
    background-color: black;
    padding: 50px 0 20px 0;
    position: relative;
}

/*Logo do app*/
footer h3 {
    color: white;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin: 10px 0;
}

/*Itens footer*/
footer h4 {
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    text-align: start;
}

footer h4:hover {
    color: #cccccc;
}

footer a:hover {
    text-decoration:none; 
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 0 30px 0 0;
    display: inline;
}

/*Apps e redes sociais*/
footer i {
    color: white;
    font-size: 25px;
}

footer i:hover {
    color: #cccccc;
}

/*Download dos apps nas lojas*/
footer .stores {
    margin: 0px;
    height: 50px;
}

/*Linha divisoria*/
footer hr {
    background-color: white;
    width: 100%;
    height: 0.5px;
    margin: 40px 0;
}

/*Direitos autorais*/
footer h5 {
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin: 20px;
}




/************************Tipografia*********************/
h1 {
    font-weight: bold;
    letter-spacing: -0.05em;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}



/************************Media query*********************/
/*Extra small devices (portrait phones, less than 576px)*/
/*@media (max-width: 575.98px) { 
    h1 {
        font-size: 2em;
    }
    .btn-custom {
        margin: 10px 15px;
        font-size: 1em;
    }
 }*/

/*Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
}*/

/*Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }
}*/

/*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }
}*/

/*Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}*/